.field {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    margin: 10px;
    align-items: center;
}

label {
    margin-right: 2px;
}

.textInput {
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    align-items: center;
    text-align: center;
    height: 3vh;
    flex-grow: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

p {
    color: red;
    font-size: 10px;
    margin: 5px;
}
